.navbar {
  background-color: #333;
  padding: 1rem;
}

.navbar-list {
  list-style-type: none;
  display: flex;
}

.navbar-item {
  margin: 0;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.navbar-item a:hover {
  background-color: #555;
}
